.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
node_modules/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart
*.iml
.gradle/
local.properties
media/
*.log
.DS_Store
Thumbs.db
postgis_data/
